<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alpha Shop</title>
  <!-- <link rel="stylesheet" href="/dist/main.css"> -->
  <link rel="stylesheet" href="/src/scss/main.css">
  <script defer src="/src/brands.js"></script>
  <script defer src="/src/solid.js"></script>
  <script defer src="/src/fontawesome.js"></script>
</head>

<body>
  <div id="app">
    <nav id="navbar" class="navbar d-flex flex-wrap justify-content-center">
      <div class="hamburger m-5">
        <img src="/image/Vector@2x.png" alt="#" class="image-hamburger">
      </div>
      <div class="logo w-100 d-flex align-items-center">
        <img src="/image/Logo@2x.png" alt="#" class="image-logo m-center">
      </div>
      <div class="list w-100 d-none">
        <ul class="menu-list w-100 d-flex flex-wrap flex-column align-items-center justify-content-center  m-center ">
          <li class="menu-item my-4">男款</li>
          <span class="menu-item-border"></span>
          <li class="menu-item my-4">女款</li>
          <span class="menu-item-border"></span>
          <li class="menu-item my-4">最新消息</li>
          <span class="menu-item-border"></span>
          <li class="menu-item my-4">聯絡我們</li>
          <span class="menu-item-border"></span>
          <li class="menu-item my-4">課製商品</li>
          <span class="menu-item-border"></span>
        </ul>
        <div class="icons w-100 d-flex justify-content-center my-6">
          <img src="/image/search-icon@2x.png" alt="#" class="icon-item mx-6">
          <img src="/image/shop-icon@2x.png" alt="#" class="icon-item mx-6">
          <img src="/image/moon-icon@2x.png" alt="#" class="icon-item mx-6">
        </div>
      </div>
    </nav>
    <main id="main-content">
      <div class="left-content">
        <h2 class="m-4">結帳</h2>
        <div class="stepper-panel">
          <div class="stepper-container d-flex w-100 my-center">
            <div class="step d-flex justify-content-start">
              <div class="circle m-4 d-flex align-items-center justify-content-center"></div><span
                class="stepper-line stepper-line-left"></span>
            </div>

            <div class="step d-flex justify-content-center">
              <div class="circle m-4 d-flex align-items-center justify-content-center"></div>
            </div>

            <div class="step d-flex justify-content-end">
              <div class="circle m-4 d-flex align-items-center justify-content-center"></div><span
                class="stepper-line stepper-line-right"></span>
            </div>
          </div>
        </div>
        <div class="form-panel">
          <div class="form-container">
            <form id="address-form" class="form">
              <div class="part m-4">
                <h2>寄送地址</h2>
                <div class="form-row d-flex flex-wrap">
                  <div class="gender w-50 d-flex flex-wrap">
                    <label class="row-name w-100" for="">稱謂</label>
                    <div class="select-wrapper w-100 mr-8">
                      <select name="gender" id="gender" class="w-100 mr-8 row-select">
                        <optgroup>
                          <option value="先生">先生</option>
                          <option value="小姐">小姐</option>
                          <option value="其他">其他</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <div class="name w-50 d-flex flex-wrap">
                    <label class="w-100 row-name" for="">姓名</label>
                    <input type="text" value="請輸入姓名" class="w-100 row-input">
                  </div>
                  <div class="phone w-100 d-flex flex-wrap">
                    <label class="w-100 row-name" for="">電話</label>
                    <input type="text" value="請輸入行動電話" class="w-100 row-input">
                  </div>
                  <div class="email w-100 d-flex flex-wrap">
                    <label class="w-100 row-name" for="">Email</label>
                    <input type="text" value="請輸入電子郵件" class="w-100 row-input">
                  </div>
                  <div class="city w-100 d-flex flex-wrap">
                    <label class="w-100 row-name" for="">縣市</label>
                    <div class="select-wrapper w-100">
                      <select name="city" id="city" class="w-100 row-select">
                        <optgroup>
                          <option value="city-select">請選擇縣市</option>
                          <option value="基隆縣">基隆縣</option>
                          <option value="基隆市">基隆市</option>
                          <option value="台北市">台北市</option>
                          <option value="新北市">新北市</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <div class="adress w-100 d-flex flex-wrap">
                    <label class="w-100 row-name" for="">地址</label>
                    <input type="text" value="請輸入地址" class="w-100 row-input">
                  </div>
                </div>
              </div>
            </form>
            <form id="shipping-form" class="form">
              <div class="part m-4">
                <h2>運送方式</h2>
                <div class="form-row d-flex flex-wrap">
                  <div class="row-normal d-flex w-100">
                    <input type="radio" id="normal-deliver" class="circle">
                    <div class="normal d-flex w-75 justify-content-between align-items-center">
                      <div class="left-normal-deliver d-flex flex-column"><label for="normal-deliver"
                          class="deliver">標準運送</label>
                        <label for="normal-deliver" class="info">約 3~7 個工作天</label>
                      </div>
                      <div class="right-normal-deliver">
                        <label for="normal-deliver" class="shipping-price">免費</label>
                      </div>
                    </div>
                  </div>
                  <div class="row-dhl  d-flex w-100">
                    <input type="radio" id="dhl-deliver" class="circle">
                    <div class="dhl d-flex w-75 justify-content-between align-items-center">
                      <div class="left-dhl-deliver d-flex flex-column"><label for="dhl-deliver" class="deliver">DHL
                          貨運</label>
                        <label for="dhl-deliver" class="info">48 小時內送達</label>
                      </div>
                      <div class="right-dhl-deliver">
                        <label for="dhl-deliver" class="shipping-price">$500</label>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </form>
            <form id="pay-form" class="form">
              <div class="part m-4">
                <h2>付款資訊</h2>
                <div class="form-row d-flex flex-wrap">
                  <div class="owner w-100 d-flex flex-wrap">
                    <label class="w-100 row-name" for="">持卡人姓名</label>
                    <input type="text" value="John Doe" class="w-100 row-input">
                  </div>
                  <div class="card-number w-100 d-flex flex-wrap">
                    <label class="w-100 row-name" for="">卡號</label>
                    <input type="text" value="1111 2222 3333 4444" class="w-100 row-input">
                  </div>
                  <div class="limit w-50 d-flex flex-wrap">
                    <label class="w-100 row-name" for="">有效期限</label>
                    <input type="text" value="MM/YY" class="w-100 mr-8 row-input">
                  </div>
                  <div class="safty-numer w-50 d-flex flex-wrap">
                    <label class="w-100 row-name" for="">CVC/CCV</label>
                    <input type="text" value="123" class="w-100 row-input">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="right-content">
        <div class="basket-panel m-4">
          <div class="product-container m-4">
            <!-- js 動態渲染商品 -->
          </div>
          <span class="bottom-line my-center"></span>
          <div class="total-container">
            <div class="fee m-4">
              <div class="deliver-fee">運費</div>
              <div class="cost">免費</div>
            </div>
            <span class="bottom-line my-center"></span>
            <div class="total m-4">
              <div class="total-price">小計</div>
              <div class="price"></div>
            </div>
          </div>
        </div>
      </div>
      <span class="bottom-line my-center"></span>
      <div id="control-panel" class="control-panel m-4 d-flex justify-content-between">
        <button class="back">← 上一步</button>
        <button class="next active">→ 下一步</button>
        <button class="first-next next">→ 下一步</button>
      </div>
    </main>
    <footer id="footer-content">
      <div class="footer-logo">
        <img src="/image/Logo@2x.png" alt="#" class="image-logo m-center">
      </div>
      <div class="footer-item">
        <h2 class="client-servise my-6">客戶服務</h2> 
        <div class="servise">運送說明</div>
        <div class="servise">退換貨相關</div>
        <div class="servise">付款資訊</div>
        <div class="servise">FAQ</div>
      </div>
      <div class="footer-item">
        <h2 class="abouts my-6">關於我們</h2>
        <div class="about">品牌故事</div>
        <div class="about">媒體連繫</div>
        <div class="about">Press kit</div>
      </div>
      <div class="footer-item">
        <h2 class="information my-6">資訊</h2>
        <div class="footer-info">隱私權政策</div>
        <div class="footer-info">Cookie</div>
        <div class="footer-info">GDPR</div>
      </div>
      <div class="footer-item">
        <h2 class="contacts my-6">追蹤 ALPHA Shop</h2>
        <div class="contact">+886 02123-45678</div>
        <div class="footer-icons m-2">
          <div class="footer-icon fb fab fa-facebook-f mr-4"></div>
          <div class="footer-icon fab fa-instagram mr-4"></div>
          <div class="footer-icon fas fa-phone"></div>
        </div>
      </div>
    </footer>
  </div>
  <script src="/src/main.js"></script>
</body>

</html>